.title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.subtitle {
    text-align: left;
    /* margin-left: var(--gap);
    margin-right: var(--gap); */
    margin-top: 0;
    padding-top: 0;
    margin-bottom: var(--gap);
    max-width: var(--main-width);
}

.subtitle p {
    margin-bottom: var(--content-gap);
}

.subtitle a {
    box-shadow: 0 1px;
}

.subtitle a:hover {
    color: var(--secondary);
}

.social-icons {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: var(--content-gap);
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0
}

.social-icons a {
    /* /* border: 1px solid white; */
    padding: 0.6rem;
    /* margin: auto; */
    /* padding-bottom: -20px; */
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    /* align-items: center; */
    /* vertical-align: middle; */
    transition: 0.08s;
}

.social-icons a:hover {
    background-color: var(--tertiary);
    /* color: var(--theme); */
}

.social-icons a svg {
    /* margin: auto; */
    vertical-align: middle;
}

.buttons {
    margin-top: 0;
    padding-top: 0;
}

.button:hover {
    /* background-color: var(--entry); */
    /* color: var(--secondary); */
    transform: rotate(3deg);
}

.button:active {
    transform: scale(0.95);
}

/* .logo {
    padding: 0;
    margin: 0;
}

.logo a {
    border-radius: 0 0 var(--radius) 0;
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.logo a:hover {
    background-color: var(--entry);
    /* color: var(--secondary);
} */
